<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Filter out Hypixel scoreboard and sound errors -->
    <RegexFilter regex="Unable to play unknown soundEvent.*" onMatch="DENY" onMismatch="NEUTRAL"/>
    <Loggers>
        <Logger level="INFO" name="net.minecraft.util.MessageDeserializer" additivity="false">
            <AppenderRef ref="SysOut" level="DEBUG" />
            <Filters>
                <RegexFilter regex=".*S18PacketEntityTeleport.*" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Logger>
        <Logger level="DEBUG" name="ca.tirelesstraveler.fancywarpmenu" additivity="false">
            <AppenderRef ref="SysOut" level="DEBUG" />
        </Logger>
    </Loggers>
</Configuration>